.imagFondo {
.parrafoNosotros {
    text-align: center;
    font-family: monospace;
    justify-content: center;
}
    .calidadVida {
        display: flex;
        justify-content: center;
     img {
justify-content: center;
box-shadow: 0px 0px 70px 20px;
justify-content: center;
margin: 20px;
}
    }
}