.nuestrosServicios {
    
    table {
        font-size: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;

    }
    h4 {
        text-align: center;
    }

    p {
        margin: 20px;
    }
}
.parrafoGrande {
    margin: 50px;
}